* {
    align-content: center;
    margin: 0;
    padding: 0;
}
.h2 {
    font-family: 'Goblin One', cursive;;
    font-size: 50px;
    color: darkgray;
    display: flex;
    justify-content: center;
}

img{
    width: 100%;
/*     height: 1200px; */
    background-size: 100%;
}

.carousel-inner {
    border-style: dashed;
    color: black;
}

.pantalla {
    background-color: azure;
}
